src/main/app/chunk-db-to-file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <db:mysql-config name="MySQL_Configuration" host="54.237.5.219" port="3306" user="hris" password="Mule1379" database="hris" doc:name="MySQL Configuration"/>
    
    <db:generic-config name="Generic_Database_Configuration" url="jdbc:postgresql://${jdbc.host}:${jdbc.port}/${jdbc.db}?user=${jdbc.user}&amp;password=" driverClassName="org.postgresql.Driver" doc:name="Generic Database Configuration"/>
    
    <spring:beans>
  		<spring:bean id="counterBean" class="com.mulesoft.dejim.Counter" />
	</spring:beans>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    
    <batch:job name="janky_batch">
        <batch:input>
            <db:select config-ref="Generic_Database_Configuration" streaming="true" doc:name="Database">
                <db:parameterized-query><![CDATA[SELECT id, stuff
  FROM public.jankytext;]]></db:parameterized-query>
            </db:select>
        </batch:input>
        <batch:process-records>
            <batch:step name="Batch_Step2">
                <batch:commit size="10" doc:name="Batch Commit">
                    <dw:transform-message metadata:id="57762c50-673c-4c5e-9763-63f68223bc73" doc:name="Transform Message">
                        <dw:set-payload><![CDATA[%dw 1.0
%output application/csv
---
payload map ((payload01 , indexOfPayload01) -> {
	id: payload01.id as :string,
	stuff: payload01.stuff replace "\\\\{2}" with "\\\\"
})]]></dw:set-payload>
                    </dw:transform-message>
                    <file:outbound-endpoint path="${file.path.out}" outputPattern="janky#[app.registry.counterBean.count()].csv" responseTimeout="10000" doc:name="File"/>
                </batch:commit>
            </batch:step>
            <batch:step name="Batch_Step">
                <batch:commit size="10" doc:name="Batch Commit">
                    <dw:transform-message metadata:id="0c61f952-8a67-4054-89c3-797de7cf5a90" doc:name="Transform Message">
                        <dw:set-payload><![CDATA[%dw 1.0
%output application/csv
---
payload map {
	id: $.id as :string,
	stuff: (($.stuff replace /\n/ with "\\\\n") replace /\r/ with "\\\\r") replace /\t/ with "\\\\t"
}]]></dw:set-payload>
                    </dw:transform-message>
                    <object-to-string-transformer doc:name="Object to String"/>
                    <set-payload value="#[payload.toString().replaceAll(&quot;\\\\{2}&quot;,&quot;\\\\&quot;)]" doc:name="Set Payload"/>
                    <file:outbound-endpoint responseTimeout="10000" doc:name="File" outputPattern="janky#[app.registry.counterBean.count()].csv" path="${file.path.out}"/>
                </batch:commit>
            </batch:step>
        </batch:process-records>
        <batch:on-complete>
            <logger level="INFO" doc:name="Logger" message="#[payload.elapsedTimeInMillis]"/>
        </batch:on-complete>
    </batch:job>
    <batch:job name="attempt_batch">
        <batch:input>
            <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[SELECT pk1, gradebook_grade_pk1, qti_result_data_pk1, linkrefid, score, 
       grade, status, attempt_date, date_added, date_modified, latest_ind, 
       comment_public_ind, exempt_ind, override_ind, group_attempt_pk1, 
       first_graded_date, last_graded_date, civetl_iteration, civetl_row_count
  FROM public.attempt
LIMIT 1000;]]></db:parameterized-query>
            </db:select>
        </batch:input>
        <batch:process-records>
            <batch:step name="Batch_Step1">
                <batch:commit size="100" doc:name="Batch Commit">
                    <dw:transform-message metadata:id="dec783de-7963-4179-a841-8684d6a15a8c" doc:name="Transform Message">
                        <dw:set-payload><![CDATA[%dw 1.0
%output application/csv
---
payload]]></dw:set-payload>
                    </dw:transform-message>
                    <file:outbound-endpoint path="${file.path.out}" outputPattern="attempt#[app.registry.counterBean.count()].csv" responseTimeout="10000" doc:name="File"/>
                </batch:commit>
            </batch:step>
        </batch:process-records>
        <batch:on-complete>
            <logger level="INFO" doc:name="Logger"/>
        </batch:on-complete>
    </batch:job>
    <flow name="chunk-db-to-fileFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/attempt" doc:name="HTTP"/>
        <batch:execute name="attempt_batch" doc:name="chunk-db-to-fileBatch1"/>
        <set-payload value="&lt;h1&gt;Attempt Batch Process initiated&lt;/h1&gt;&lt;b&gt;ID:&lt;/b&gt;#[payload.getId()]&lt;br/&gt;&lt;b&gt;Records to Be Processed: &lt;/b&gt;#[payload.getRecordCount()]&lt;br/&gt; &lt;b&gt;Start execution on: &lt;/b&gt;#[new java.util.Date()]" doc:name="Set Batch Status response Payload"/>
        
    </flow>
    <flow name="chunk-db-to-fileFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/janky" doc:name="HTTP"/>
        <batch:execute name="janky_batch" doc:name="chunk-db-to-fileBatch"/>
        <set-payload value="&lt;h1&gt;Janky Batch Process initiated&lt;/h1&gt;&lt;b&gt;ID:&lt;/b&gt;#[payload.getId()]&lt;br/&gt;&lt;b&gt;Records to Be Processed: &lt;/b&gt;#[payload.getRecordCount()]&lt;br/&gt; &lt;b&gt;Start execution on: &lt;/b&gt;#[new java.util.Date()]" doc:name="Set Batch Status response Payload"/>
        
    </flow>
</mule>
